@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --text: #ffffff;
    --yell: #ee964b; 
    --background: #001524;
    --accent: #001d3d;
}

* {
    color: var(--text);
    padding: 0%;
    margin: 0%;
    font-family: 'Figtree', Tahoma, Geneva, Verdana, sans-serif;
    /*white-space-collapse: break-spaces;*/
}

a, p {
    font-size: 3rem;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: 700;
}

body {
/*background-image: url("../img/bg.png");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--background);
}


/* classes */

.top {
    color: var(--yell);
    background-color: var(--accent);
    width: 100h;
    height: 15vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;
    box-shadow: 0px 0px 100px 100px rgba(255, 255, 255, 0);
    z-index: 1;
}

.top div a, .h1 {
    color: var(--yell);
}

.bodoni {
    font-family: "Bodoni Moda"; 
}

.navi {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.bottom {
    padding-left: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1 {
    font-family: "Bodoni Moda";
    font-size: 50px;
    font-weight: lighter;
    text-decoration: none;
}

.h1:hover {
    text-decoration: none;
    font-weight: bolder;
}